.sidebar-container {
  height: 100vh;
  background-color: #192734;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  padding: 2rem;
  position: fixed;

  border-right: 1px solid #38444d;
}